flows.json
[
    {
        "id": "a6d191e0ca180804",
        "type": "tab",
        "label": "플로우 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9210d1e970ba37bc",
        "type": "io7-hub",
        "name": "0919_lab1",
        "host": "mqtt",
        "useTLS": false,
        "knownPort": true,
        "port": "1883",
        "tls": "",
        "clientid": ""
    },
    {
        "id": "537ca14a1c84b813",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "c72dbec9121b7bb5",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9d854b8dca87bd64",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "537ca14a1c84b813",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "c72dbec9121b7bb5",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1f05b99a8b765797",
        "type": "ui-group",
        "name": "test1",
        "page": "9d854b8dca87bd64",
        "width": 6,
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5fe24dedbad9a0a4",
        "type": "io7 out",
        "z": "a6d191e0ca180804",
        "authentication": "9210d1e970ba37bc",
        "name": "",
        "deviceId": "lamp1",
        "cmd": "",
        "fmt": "json",
        "qos": "0",
        "retain": "false",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "96b32898c967ba54",
        "type": "function",
        "z": "a6d191e0ca180804",
        "name": "function 2",
        "func": "if (msg.payload.d.button !== 'pushed') {\n return;\n}\nmsg.payload = {\n d : {\n lamp : \"toggle\"\n }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "5fe24dedbad9a0a4"
            ]
        ]
    },
    {
        "id": "5120fee8d8705065",
        "type": "io7 in",
        "z": "a6d191e0ca180804",
        "name": "",
        "deviceId": "button1",
        "authentication": "9210d1e970ba37bc",
        "evt": "status",
        "fmt": "json",
        "qos": "0",
        "allDevices": false,
        "allEvents": false,
        "allFormats": false,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "96b32898c967ba54"
            ]
        ]
    },
    {
        "id": "cf093d67f7e3f398",
        "type": "io7 in",
        "z": "a6d191e0ca180804",
        "name": "",
        "deviceId": "lamp1",
        "authentication": "9210d1e970ba37bc",
        "evt": "status",
        "fmt": "json",
        "qos": "0",
        "allDevices": false,
        "allEvents": false,
        "allFormats": false,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "fe3f85954ba6b2ff"
            ]
        ]
    },
    {
        "id": "80536aef6d9d2c32",
        "type": "ui-switch",
        "z": "a6d191e0ca180804",
        "name": "Switch",
        "label": "switch",
        "group": "1f05b99a8b765797",
        "order": 2,
        "width": "3",
        "height": "3",
        "passthru": false,
        "decouple": true,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "73df000b25953996"
            ]
        ]
    },
    {
        "id": "fe3f85954ba6b2ff",
        "type": "function",
        "z": "a6d191e0ca180804",
        "name": "function 3",
        "func": "msg.payload = msg.payload.d.lamp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "80536aef6d9d2c32"
            ]
        ]
    },
    {
        "id": "73df000b25953996",
        "type": "function",
        "z": "a6d191e0ca180804",
        "name": "function 4",
        "func": "msg.payload = {\n    d: {\n        lamp: msg.payload\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "5fe24dedbad9a0a4"
            ]
        ]
    },
    {
        "id": "3fbebd5f94b75746",
        "type": "io7 in",
        "z": "a6d191e0ca180804",
        "name": "",
        "deviceId": "lux1",
        "authentication": "9210d1e970ba37bc",
        "evt": "status",
        "fmt": "json",
        "qos": "0",
        "allDevices": false,
        "allEvents": false,
        "allFormats": false,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "d042a8ac648678e8",
                "fff8088f8b09fa60"
            ]
        ]
    },
    {
        "id": "d042a8ac648678e8",
        "type": "function",
        "z": "a6d191e0ca180804",
        "name": "Lux",
        "func": "let evt1 = { d: {} };\nif (msg.payload.d.lux > 800) {\n    evt1.d.lamp = 'off';\n} else {\n    evt1.d.lamp = 'on';\n}\nreturn { payload: evt1 };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "528a54d8cc52fd9e"
            ]
        ]
    },
    {
        "id": "fff8088f8b09fa60",
        "type": "ui-gauge",
        "z": "a6d191e0ca180804",
        "name": "조도",
        "group": "1f05b99a8b765797",
        "order": 3,
        "value": "payload.d.lux",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "조도",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "400",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "750",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dea0b675408e7329",
        "type": "ui-switch",
        "z": "a6d191e0ca180804",
        "name": "auto",
        "label": "auto",
        "group": "1f05b99a8b765797",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "756bfc198f2f7c74"
            ]
        ]
    },
    {
        "id": "756bfc198f2f7c74",
        "type": "function",
        "z": "a6d191e0ca180804",
        "name": "auto",
        "func": "msg.topic = 'control';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "528a54d8cc52fd9e"
            ]
        ]
    },
    {
        "id": "528a54d8cc52fd9e",
        "type": "gate",
        "z": "a6d191e0ca180804",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "5fe24dedbad9a0a4"
            ]
        ]
    }
]